@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Regular.woff) format(woff),
    url(/assets/fonts/Roboto/Roboto-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/assets/fonts/Roboto/Roboto-Bold.woff) format(woff),
    url(/assets/fonts/Roboto/Roboto-Bold.woff2) format(woff2);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins/Poppins-Regular.woff) format(woff),
    url(/assets/fonts/Poppins/Poppins-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(/assets/fonts/Poppins/Poppins-Regular.woff) format(woff),
    url(/assets/fonts/Poppins/Poppins-Bold.woff2) format(woff2);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

  :root {
    --Roboto: "Roboto";
  --Roboto-Medium: "Roboto-Medium";
    --Roboto-Bold: "Roboto-Bold";
    --Poppins: "Poppins";
    --Poppins-Bold: "Poppins-Bold";
  
  --primary-color: #004181 !important;
  --secondary-color: #9e005d !important;
  --primary-color-10: rgba(0, 65, 129, 0.1) !important;
  --primary-color-25: rgba(0, 65, 129, 0.25) !important;
  --lighPink: #fff5f6 !important;
  --white: #ffffff !important;
  --grey: #231f20 !important;
  --border-grey : #CED4DA !important;
    
    --font-16 : 16px;
    --font-18 : 18px;
    --font-22 : 22px;
    --font-24 : 24px;
    --font-28 : 28px;
    --font-32 : 32px;
    --font-42 : 42px;
    --font-52 : 52px;

    --line-height-25: 25px;
    --line-height-28: 28px;
    --line-height-30: 30px;
    --line-height-34: 34px;
    --line-height-36: 36px;
    --line-height-40: 40px;
    --line-height-52: 52px;
    --line-height-68: 68px;
  }
 
body {
  color: var(--grey);
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-lighPink {
  color: var(--lighPink);
}
.text-grey {
  color: var(--grey);
}


.bg-primary{background-color: var(--primary-color);}
.bg-secondary{background-color: var(--secondary-color);}
.bg-lighPink{background-color: var(--lighPink);}
.bg-grey{background-color: var(--grey);}
.bg-lightPink50{background-color: var(--lightPink50);}
.bg-primary-10 {
  background-color: var(--primary-color-10);
}
.bg-primary-25 {
  background-color: var(--primary-color-25);
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-60 {
  margin-bottom: 60px;
}
.object-cover {
  object-fit: cover;
}

.font-16{font-size: var(--font-16);}
.font-18{font-size: var(--font-18);}
.font-22{font-size: var(--font-22);}
.font-24{font-size: var(--font-24);}
.font-28{font-size: var(--font-28);}
.font-32{font-size: var(--font-32);}
.font-42{font-size: var(--font-42);}
.font-52{font-size: var(--font-52);}


.line-height-25{line-height: var(--line-height-25);}
.line-height-28{line-height: var(--line-height-28);}
.line-height-30{line-height: var(--line-height-30);}
.line-height-34{line-height: var(--line-height-34);}
.line-height-36{line-height: var(--line-height-36);}
.line-height-40{line-height: var(--line-height-40);}
.line-height-52{line-height: var(--line-height-52);}
.line-height-68{line-height: var(--line-height-68);}

h1{
  font-size:var(--font-52);
  line-height: var(--line-height-68);
}
h2{
  font-size:var(--font-42);
  line-height: var(--line-height-52);
}
h3{
  font-size:var(--font-32);
  line-height: var(--line-height-40);
}
h4{
  font-size:var(--font-28);
  line-height: var(--line-height-36);
}
h5{
  font-size:var(--font-24);
  line-height: var(--line-height-34);
}
h6{
  font-size:var(--font-22);
  line-height: var(--line-height-30);
}
p {
  font-size: var(--font-18);
  line-height: var(--line-height-28);
}
li {
  font-size: var(--font-16);
  line-height: var(--line-height-25);
}
span {
  font-size: var(--font-16);
  line-height: var(--line-height-25);
}
  
.font-Roboto {font-family: var(--Roboto), sans-serif;}
.font-Roboto-bold {font-family: var(--Roboto-Bold), sans-serif;}
.font-Poppins {font-family: var(--Poppins), sans-serif;}
.font-Poppins-bold {font-family: var(--Poppins-Bold), sans-serif;}

body,
html {
  font-family: var(--Poppins), sans-serif;
  font-size: var(--font-16);
  line-height: var(--line-height-25);
}


/* common css start */
.theme-btn{
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-18);
  line-height: var(--line-height-28);
  padding: 10px 30px;
  border: 1px solid var(--primary-color);
}
.theme-btn:hover{
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.mt-30{
  margin-top: 30px;
}
.divider {
  border-right: 1px solid var(--primary-color-25);
}
.section-y-space {
  padding: 90px 0;
}
/* common css end */



/* navbar css start */
.custom-nav{
  box-shadow: 0px 1px 8px 0px #00000033;
  padding-top: 20px;
  padding-bottom: 20px;
}
.custom-nav .navbar-toggler{
  border: 0;
}
.custom-nav .navbar-toggler:focus{
  box-shadow: none;
}
.custom-nav .contact-nav-btn{
  display: none !important;
}
.custom-nav .nav-link:hover{
  color: var(--secondary-color) !important;
  transition: 0.4s all;
}
/* navbar css end */

/* banner-section css start */
.banner-section{
  padding-bottom: 95px;
}
/* banner-section css end */

/* exp-section css start */
.exp-section ul{
  margin-top: 42px;
}
/* exp-section css end */


/* expect-section css start */
.expect-section .accordion-item{
  border-color: var(--border-grey);
}
.expect-section .accordion-item:not(:first-of-type){
  border-top: 1px solid var(--border-grey);
}
.expect-section .accordion-button:not(.collapsed){
  color: var(--grey);
}
.expect-section .accordion-button:focus{
  box-shadow: none;
}
.expect-section .accordion-button{
  border: 0;
}
.expect-section .accordion-button:not(.collapsed)::after{
  background-image: var(--bs-accordion-btn-icon);
}
.expect-section .accordion-button:not(.collapsed){
  border-bottom: 1px solid var(--border-grey);
}
.expect-section .accordion-button{
  box-shadow: none;
}
.expect-section .accordion-button.collapsed{
  border-bottom: 1px solid transparent;
}
/* expect-section css end */



.our-services-content {
  padding: 50px 55px 50px 80px;
}
.uniq-label-card {
  padding: 40px 30px 50px 40px;
  border-bottom: 1px solid var(--primary-color);
  position: relative;
}
.uniq-label-card > img {
  margin-bottom: 32px;
}
.stroked-text {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke: 1px var(--primary-color);
  font-size: 68px;
  line-height: 76px;
  font-family: var(--Roboto-Bold);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-40%);
}


/* footer css start */
.top-footer {
  padding: 40px 40px 56px;
}
.bottom-footer {
  border-top: 1px solid var(--primary-color-25);
  padding: 15px 0;
}
/* footer css end */


@media only screen and (max-width: 1199px) {
  .section-y-space {
    padding: 50px 0;
  }
  .exp-section .exp-row{
    flex-direction: column-reverse;
  }
  .our-services-content {
    padding: 50px;
  }
  .uniq-label-card {
    padding: 30px 30px 50px 30px;
    border-bottom: 1px solid var(--primary-color);
    position: relative;
  }
  .divider {
    border-right: 0;
  }
}

@media(max-width:1024px){
  .custom-nav .navbar-nav{
    display: none !important;
  }
  .custom-nav .contact-nav-btn{
    display: flex !important;
  }
  .custom-nav.navbar>.container{
    justify-content: space-between;
  } 
  .custom-nav .navbar-collapse{
    flex-grow: 0;
    display: none !important;
  }
}

@media(max-width:991px){
  :root{
    --font-42 : 38px;
    --font-52 : 45px;

    --line-height-52: 45px;
    --line-height-68: 50px;
  }
}


@media(max-width:767px){
  :root{
    --font-22 : 18px;
    --font-24 : 22px;
    --font-42 : 32px;
    --font-52 : 35px;


    --line-height-30: 26px;
    --line-height-34: 32px;
    --line-height-52: 38px;
    --line-height-68: 40px;
  }

  .mt-30{
    margin-top: 20px;
  }
  .section-y-space {
    padding: 40px 0;
  }
  .our-services-content {
    padding: 30px;
  }
}



@media only screen and (max-width: 639px) {
  p {
    font-size: var(--font-16);
    line-height: var(--line-height-25);
  }
}

@media(max-width:375px){
  .custom-nav .contact-nav-btn span{
    font-size: 14px;
  }
}
